/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    margin-top: -2rem;
}

.header {
    background: linear-gradient(to bottom, #ff3333, #a10101);
    color: white;
    text-align: center;
    padding: 20px;
    animation: slideInDown 1s;
}
nav{
    background: linear-gradient(to top, #ff3333, #a10101);
}

nav ul {
    list-style-type: none;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.welcome-section {
    text-align: center;
    padding: 40px;
}

.events {
    display: flex;
    justify-content: center;
}

.event-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.event-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.event-card img {
    max-width: 50%;
}

h1{
    font-size: xx-large;
}